@import "tailwindcss";

:root {
  /* - colors - */
  --mist-white: #fafaf9;
  --charcoal-black: #1c1c1c;

  /* - font sizes according to golden ratio typescale - */
  --heading-1: 17.942rem;
  --heading-2: 11.089rem;
  --heading-3: 6.854rem;
  --heading-4: 4.236rem;
  --heading-4-weight: 700;
  --heading-5: 2.618rem;
  --heading-5-weight: 700;
  --heading-6: 1.618rem;
  --heading-6-weight: 700;
  --body: 1rem;

  --content-height: calc(100vh - 330px); /* 82px header + 248px footer */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    "Satoshi",
    Arial,
    Helvetica,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Noto Color Emoji";
}

/* Apply padding individually to each page + section */
.section-padding {
  @apply px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 2xl:px-20;
}

/* --- Animation Styling --- */
.translate-y {
  @apply transition-all duration-300 hover:-translate-y-1;
}

/* ----- Utility Classes ----- */

/* - Heading Size Utility Classes - */
@utility heading-3 {
  font-size: var(--heading-3);
  font-weight: var(--heading-3-weight);
}

@utility heading-4 {
  font-size: var(--heading-4);
  font-weight: var(--heading-4-weight);
}

@utility heading-5 {
  font-size: var(--heading-5);
  font-weight: var(--heading-5-weight);
}

@utility heading-6 {
  font-size: var(--heading-6);
  font-weight: var(--heading-6-weight);
}

/* - Content Height - */
@utility section-height {
  /* Sets sections to a minimum height of 100vh - header height - footer height */
  min-height: var(--content-height);
}

/* - Simple Chat Scrollbar - */
.chat-scroll {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #374151;
}

.chat-scroll::-webkit-scrollbar {
  width: 8px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: #374151;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 4px;
}

.chat-scroll::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
